<ng-container *ngFor="let route of routes">
    <a class="has-leading-icon"
       mat-list-item
       routerLink="{{basePath}}/{{route.path}}">
        <mat-icon matListItemIcon>
            <!-- Icon names can be found on this page: https://fonts.google.com/icons?icon.set=Material+Icons -->
            {{route.data.menuEntry.icon}}
        </mat-icon>
        {{route.data.menuEntry.name}}
    </a>
    <div *ngIf="route.children"
         class="indent">
        <tasks-menu [routes]="route.children"
                    basePath="{{basePath}}/{{route.path}}"></tasks-menu>
    </div>
</ng-container>
